body {
    margin: 0
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

canvas:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}